<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Web.Xdt" version="3.1.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="SharpCompress" version="0.30.0" targetFramework="net472" />
</packages>