<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="1.26.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.1" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net451" />
</packages>